<!DOCTYPE html>
<html>
    <head>
        <title>Morphoses Admin</title>

        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <h1>Morphoses Admin</h1>

        <div id="root"></div>

        <div class="viewer">
            <div class="arena">
            </div>

            <div class="controls">

            </div>
    
            <div class="threejs-widgets">
                <div class="three"></div>

                <!-- <div>
                    <input type="checkbox" class="toggle" data-param="robot1 pos" name="robot1pos" id="robot1pos">
                    <label for="robot1pos">robot1 pos</label>
                </div>
                <div>
                    <input type="checkbox" class="toggle" data-param="robot1 quat" name="robot1quat" id="robot1quat">
                    <label for="robot1quat">robot1 quat</label>
                </div>
                <div>
                    <input type="checkbox" class="toggle" data-param="robot1 rot" name="robot1rot" id="robot1rot">
                    <label for="robot1rot">robot1 rot</label>
                </div> -->
            </div>
        </div>

        <script src="bundle.js"></script>
    </body>
</html>