.battery {
    font-family: "Inconsolata", monospace;
    font-weight: bold;

    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-right: 16px;

    &_svg {
        &__bar {
            display: none;
        }

        &__gauge {
            transform: scaleX(var(--level));
        }
    }

    &--inactive {
        .battery_svg {
            &__bar {
                display: initial;
            }

            &__gauge {
                display: none;
            }
        }
    }
}