.icon-button {
    display: inline-block;
    width: 25px;
    height: 25px;

    color: black;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: content-box;
    background: transparent;

    transition: 0.1s ease;
    transition-property: border-color, background-color, color;
    
    svg * { fill: currentColor; }

    &:hover, &:focus, &.calibrating {
        background-color: var(--robot-color);
        border-color: transparent;
        color: white;
    }

    &:active {
        filter: brightness(0.75);
    }

    // specific to calibration
    &--calibrate {
        @keyframes calibration-anim {
            0% { opacity: 1; }
            50% { opacity: 0.65; }
        }

        &.calibrating {
            animation: ease-in-out infinite forwards calibration-anim 1s;
        }
    }
}