.panel {
    width: 400px;
    position: relative;

    padding-top: 16px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: 1px solid black;
        pointer-events: none;
    }

    &.collapsed {
        width: 220px;
    }
}