.viewer {
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 1px solid black;
    position: relative;

    &__wrapper {
        display: flex;
        column-gap: 48px;
    }

    .robot {
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);

        &:nth-child(1) { background: red; }
        &:nth-child(2) { background: blue; }
    }
}