.viewer {
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 1px solid black;
    position: relative;

    &__wrapper {
        display: flex;
        column-gap: 48px;
    }

    .robot {
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);

        background: currentColor;

        // orientation guide
        &::after {
            content: '';
            background-color: currentColor;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 150%;
            transform: translateY(-75%) rotate(-90deg);
        }

        &__container {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            padding: 5px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &:nth-child(1) { color: red; }
            &:nth-child(2) { color: blue; }
        }
    }
}