.value {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;

    .label {
        width: 20px;
        font-size: 16px;

        .collapsed & {
            display: none;
        }
    }

    .number {
        width: 100px;
        height: 35px;
        border: 1px solid black;
        padding-left: 0.5rem;
        font-size: 20px;
        font-family: "Inconsolata", monospace;
        font-weight: bold;
        
        display: flex;
        align-items: center;

        .collapsed & {
            border: none;
            opacity: 0.5;
            font-size: 14px;
            padding: 0;
            display: inline;
            width: 42px;
            height: auto;
        }
    }

    .graph {
        border: 1px solid black;
        margin-left: auto;          // so that it aligns to the right

        canvas {
            width: 100%;
            height: 100%;
        }

        .collapsed & {
            display: none;
        }
    }
}

.show-graph {
    background-color: transparent;
    outline: none;
    border: none;
    opacity: 0.5;

    .collapsed & {
        display: none;
    }

    &:hover, .graph-visible & {
        opacity: 1;
    }

    > img {
        display: block;
    }
}