.value {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;

    &__label {
        font-size: 12px;
        line-height: 25px;

        .collapsed & {
            display: none;
        }
    }

    &__number {
        width: 75px;
        height: 25px;
        border: 1px solid black;
        padding-left: 8px;
        font-size: 14px;
        
        display: flex;
        align-items: center;

        .collapsed & {
            border: none;
            opacity: 0.5;
            font-size: 14px;
            padding: 0;
            display: inline;
            width: 42px;
            height: auto;
        }

        .graph-visible & {
            width: 120px;
        }
    }

    &__graph {
        border: 1px solid black;
        margin-left: auto;          // so that it aligns to the right
        margin-top: -1px;

        canvas {
            width: 100%;
            height: 100%;
        }

        .collapsed & {
            display: none;
        }
    }

    &__show-graph {
        background-color: transparent;
        outline: none;
        border: none;
        opacity: 0.5;
        margin-left: -8px;
    
        &:hover {
            opacity: 1;
        }

        .collapsed & {
            display: none;
        }
    
        .graph-visible & {
            opacity: 1;
            transform: translateX(-100%) scaleX(-1);
        }
    
        > img {
            display: block;
        }
    }
}

