.widget {
    padding: 0 16px 24px 28px;
    position: relative;

    &.collapsed, .collapsed & {
        padding-left: 20px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid black;
        margin-bottom: 16px;
    }

    &__toggle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        color: #04BF00;
        width: 12px;
        height: 80px;
        border: 2px solid currentColor;
        background-color: currentColor;

        .disabled & {
            background-color: transparent;
            color: black;
            opacity: 0.25;
        }

        .collapsed & {
            height: 45px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .disabled & {
            opacity: 0.5;
        }
    }

    &__title {
        font-size: 20px;

        > button {
            background: transparent;

            &:hover {
                opacity: 0.5;
            }

            .disabled & {
                text-decoration: line-through;
            }
        }

        .collapsed & {
            font-size: 16px;
        }
    }

    &__addr {
        font-family: "Inconsolata", monospace;
        opacity: 0.5;

        .collapsed & {
            display: none;
        }
    }

    &__values {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 12px;

        .disabled & {
            opacity: 0.25;
            pointer-events: none;
        }

        .collapsed & {
            flex-direction: row;
            column-gap: 8px;
        }
    }

    
    // action widget
    &__actions {
        font-family: 'Inconsolata', monospace;
        font-weight: bold;

        display: flex;
        align-items: center;
        column-gap: 20px;

        &--curr {
            display: inline-block;
            width: 50px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            flex-shrink: 0;

            font-size: 24px;
            color: white;
            background-color: var(--robot-color);

            .disabled & {
                background-color: lightgrey;
                opacity: 0.25;
            }
        }

        &--past {
            display: flex;
            align-items: center;
            column-gap: 24px;
            flex-wrap: nowrap;
            
            li {
                font-size: 14px;
            }

            .disabled & {
                opacity: 0.25;
            }
        }
    }

    .line {
        border-bottom: 1px solid black;
        margin: 12px 0;
    }

    .reward-steer-container {
        display: flex;
        align-items: center;

        .line {
            border-bottom: none;
            border-left: 1px solid black;

            align-self: stretch;
            margin: -12px 0;
        }

        > div:not(.line) {
            flex-basis: 50%;
            flex-grow: 0;
        }
    }
}